@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #a4907c;
  --body-background: #f1dec9;
  --second-color: #8d7b68;
  --main-transition: 0.5s;
}
body {
  background-color: var(--body-background);
  /* height: 5000px; */
}
a {
  text-decoration: none;
}
/* start header */
header {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
header .nav {
  display: flex;
  list-style: none;
  gap: 0px 40px;
  align-items: center;
}
header .nav > li {
  padding: 10px 15px;
}
header .nav > li > a {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: inherit;
  font-weight: 600;
}
header .nav > li.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
header .login {
  cursor: pointer;
}
header .burger-menu {
  display: none;
}
@media (max-width: 1020px) {
  header .nav {
    gap: 0px 0px;
  }
}
@media (max-width: 800px) {
  header .nav {
    display: none;
  }
  header .login {
    display: none;
  }
  header .burger-menu {
    display: block;
    cursor: pointer;
  }
}
/* start landing */
.landing {
  /* height: 736px; */
  margin: 0 auto;
  background-image: url(../IMG/Rectangle\ 6.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5%;
  padding-bottom: 60px;
}
.landing .one {
  font-size: 55px;
  font-family: "Marcellus", serif;
  /* width: 544px; */
  width: 40%;
  padding: 62px 0 35px 0;
  font-weight: bold;
}
.landing .two {
  font-size: 30px;
  font-family: "Marcellus", serif;
  /* width: 611px; */
  width: 50%;
  line-height: 1.7;
  padding-bottom: 49px;
  font-weight: 500;
}
.landing .get-started-form {
  width: 60%;
  display: flex;
  gap: 0 6px;
  padding: 12px 10px;
  border-radius: 28px;
  background: rgba(164, 144, 124, 0.26);
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  margin-bottom: 11px;
}
.landing .get-started-form .get-started-email {
  width: 70%;
  height: 62px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border: none;
  padding-left: 14px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.42);
  font-family: "Inter", sans-serif;
  font-size: 30px;
}
.landing .get-started-form .get-started-email::placeholder {
  color: rgba(0, 0, 0, 0.42);
  font-family: "Inter", sans-serif;
  font-size: 30px;
}
.landing .get-started-form .get-started-email:focus {
  outline: none;
}
.landing .get-started-form .get-started-btn {
  width: 30%;
  border: none;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  cursor: pointer;
  font-size: 30px;
  color: white;
  background: var(--second-color);
}
.landing .three {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
}
.landing .three .login-span a {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 23px;
  font-weight: 500;
}
@media (max-width: 1020px) {
  .landing {
    text-align: center;
  }
  .landing > * {
    margin: 0 auto;
  }
  .landing .one {
    width: 90%;
    font-size: 35px;
  }
  .landing .two {
    width: 100%;
    font-size: 20px;
  }
  .landing .get-started-form {
    width: 100%;
  }
  .landing .get-started-form .get-started-email,
  .landing .get-started-form .get-started-email::placeholder,
  .landing .get-started-form .get-started-btn {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .landing .get-started-form {
    width: 100%;
    flex-direction: column;
    gap: 10px 0;
  }
  .landing .get-started-form > .get-started-email,
  .landing .get-started-form .get-started-btn {
    width: 100%;
  }
  .landing .get-started-form > .get-started-email {
    height: 40px;
  }
  .landing .get-started-form > .get-started-btn {
    height: 40px;
  }
}
@media (max-width: 380px) {
  .landing .get-started-form .get-started-email,
  .landing .get-started-form .get-started-email::placeholder,
  .landing .get-started-form .get-started-btn {
    font-size: 13px;
  }
  .landing .three {
    font-size: 13px;
  }
}
/* start features */
.features {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 44px;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  -ms-border-radius: 44px;
  -o-border-radius: 44px;
  background-color: var(--second-color);
  padding: 12px 0;
  margin-top: 67px;
  margin-bottom: 134px;
}
.features > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features > div .description {
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  margin-top: 11px;
}
@media (max-width: 768px) {
  .features {
    flex-direction: column;
    gap: 25px 0px;
    padding: 40px 0;
    width: 60%;
    text-align: center;
  }
}
/* start about us */
.about-us {
  text-align: center;
}
.about-us .title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  margin-bottom: 38px;
}
.about-us .description {
  width: 75%;
  margin: 0 auto;
  font-size: 30px;
  font-family: "Marcellus", serif;
}
/* start container */
.about-us .container {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 110px;
  gap: 0 66px;
}
.about-us .container > .card-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  gap: 60px;
  height: 476px;
}
.about-us .container > .card-two > div {
  background-color: var(--second-color);
  padding: 20px;
}
.about-us .container > .card-two > div > .one {
  color: #fff;
  font-size: 25px;
  font-family: "Marcellus", serif;
  margin-top: 7px;
  margin-bottom: 9px;
}
.about-us .container > .card-two > div > .two {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-family: "Marcellus", serif;
}
.about-us .container > .card-two > .two .img {
  position: relative;
}
.about-us .container > .card-two > .two .img img {
  z-index: 12;
  position: relative;
}
.about-us .container > .card-two > .two .img::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 1360px) {
  .about-us .container {
    flex-direction: column;
    gap: 0 10px;
  }
  .about-us .container > div {
    width: 100%;
  }
  .about-us .container > .card-two {
    justify-content: center;
  }
  .about-us .container > .card-two > div {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-us .container .card-two img {
    margin-bottom: 10px;
  }
  .about-us .container .card-one img {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .about-us .container > .card-two > div {
    max-height: 225px;
  }
  .about-us .container > .card-two > div > .one {
    font-size: 20px;
  }
}
/* start our services */
.our-services {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  gap: 0 25px;
  text-align: center;
  margin-top: 460px;
  margin-bottom: 200px;
}
.our-services::before,
.our-services::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-repeat: no-repeat;
  background-color: var(--main-color);
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-position: center;
  cursor: pointer;
}
.our-services::before {
  left: -28px;
  background-image: url(../IMG/arrow-left.svg);
}
.our-services::after {
  right: -28px;
  background-image: url(../IMG/right.svg);
}
.our-services > div:not(:last-of-type) {
  background-color: white;
  width: 28%;
  height: 320px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: -21px 26px 28px 1px rgba(0, 0, 0, 0.25);
}
.our-services > div .img {
  width: 90%;
  margin: 22px auto;
  overflow: hidden;
}
.our-services > div .img img {
  width: 100%;
  transition-duration: var(--main-transition);
}
.our-services > div .img img:hover {
  scale: 1.05;
}
.our-services > div .description {
  font-size: 28px;
  width: 90%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
/* start our services absolute */
.our-services .our-services-absolute {
  position: absolute;
  width: 716px;
  height: 423px;
  background-image: url(../IMG/);
  background-color: var(--second-color);
  z-index: -1;
  left: 0;
  bottom: 80%;
  padding: 41px 25px;
  text-align: left;
}
.our-services .our-services-absolute .title-absolute {
  color: rgba(255, 255, 255, 0.99);
  font-size: 60px;
  font-family: "Inter", sans-serif;
  margin-bottom: 33px;
}
.our-services .our-services-absolute .description-absolute {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 25px;
}
.our-services .our-services-absolute img {
  position: absolute;
  bottom: calc(100% - 83px);
  right: 0px;
  background: #f1dec9;
}
@media (max-width: 1000px) {
  .our-services{
    margin-top: 300px;
  }
  .our-services .our-services-absolute{
    width: 516px;
    height: 283px;
  }
  .our-services .our-services-absolute .title-absolute {
    font-size: 30px;
  }
  .our-services .our-services-absolute .description-absolute{
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .our-services .our-services-absolute{
    width: 316px;
    height: 283px;
    bottom: 88%;
  }
  .our-services .our-services-absolute .title-absolute {
    font-size: 20px;
  }
  .our-services .our-services-absolute .description-absolute{
    font-size: 12px;
    line-height: 2;
  }
  .our-services{
    margin-top: 300px;
  }
}
/* start testimonials */
.testimonials {
  margin: 0 auto;
  background-image: url(../IMG/Vector\ 6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 140px 0;
}
.testimonials .title {
  color: #fff;
  text-align: center;
  font-size: 70px;
  font-family: "Inter", sans-serif;
  margin-bottom: 80px;
}
.testimonials > div {
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
}
.testimonials > div .profile {
  display: flex;
  align-items: center;
}
.testimonials > div .profile .name {
  flex: 1;
  margin-left: 15px;
  font-size: 35px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.testimonials > div .profile .rate {
  max-width: 100%;
}
.testimonials > div .opinion {
  color: rgba(0, 0, 0, 0.58);
  font-size: 25px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  line-height: 1.7;
  margin-top: 40px;
  margin-bottom: 81px;
}
@media (max-width: 900px) {
  .testimonials .title {
    font-size: 40px;
  }
  .testimonials > div .profile {
    flex-direction: column;
  }
  .testimonials > div .opinion {
    text-align: center;
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .testimonials .title {
    font-size: 26px;
  }
  .testimonials > div .profile .name {
    margin: 0;
    text-align: center;
    font-size: 20px;
  }
  .testimonials > div .opinion {
    font-size: 16px;
  }
}
/* start footer */
footer {
  background-color: var(--second-color);
  margin-top: 200px;
}
footer .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 0 50px;
  padding: 75px 0;
}
footer .container > div {
  width: 25%;
  line-height: 1.6;
}
footer .container > div .title {
  position: relative;
  color: #fff;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}
footer .container > div .title::before{
  position: absolute;
  content: '';
  left: 0;
  width: 70px;
  height: 3px;
  bottom: 0;
  background-color: #ffcb97;
}
footer .container > div .description,
footer .container > div .description a {
  color: rgba(255, 255, 255, 0.66);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  width: fit-content;
  transition-duration: var(--main-transition);
}
footer .container > div .description a:hover {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}
footer .container > div .description {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  footer .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .container > div{
    width: 45%;
  }
}
@media (max-width: 650px) {
  footer .container > div{
    width: 100%;
  }
}
